// =============================
// Base Styles
// =============================
header {
	background-color:black;
	height:4.5em;
	text-align:center;
	line-height:4.5em;
	border-bottom:.2em solid #CCCC9a;

	img {
		display:inline-block;
		height:4em;
		vertical-align: top;
		margin-top:.1em;
		margin-right:3.5em;
		margin-left:3.5em;
		-webkit-animation: rotate 3s; /* Safari 4+ */
  		-moz-animation: rotate 3s; /* Fx 5+ */
  		-o-animation: rotate 3s; /* Opera 12+ */
  		animation:rotate 3s; /* IE 10+, Fx 29+ */
	}
}

h1 {
	display:inline-block;
	font-size:2.5em;
	color:#CCCC9a;
}

h2 {
	text-align:center;
	font-family: 'Nunito', sans-serif;
	font-size:1.4em;
	font-weight:bold;
	padding:0 0 .5em 0;
	text-decoration:underline;
	color:#701112;
}

h3 {
	font-family: 'Nunito', sans-serif;
	text-align:center;
	margin-top:.6em;
	font-size:1.2em;
	color:#701112;
}

button {
	margin: .7em 0 .5em 0;
	padding: .3em .6em .3em .6em;
	&:hover {
		cursor:pointer;
	}
}

input {
	border-radius:.5em;
}

select {
	border-radius:.5em;
}

html {
  background: -webkit-linear-gradient(
  	$background-color--gradient, $background-color--gradient2,$background-color--gradient); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($background-color--gradient, $background-color--gradient2, $background-color--gradient); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($background-color--gradient, $background-color--gradient2, $background-color--gradient); /* For Firefox 3.6 to 15 */
  background: linear-gradient($background-color--gradient,$background-color--gradient2, $background-color--gradient); /* Standard syntax */
}


/* Pseudo-classes
=====================================*/



/* Classes
=====================================*/

.container {
	border:3px solid $border-color--container;
	display:inline-block;
	padding:1.2em;
	margin:.5em;
	text-align:left;
	vertical-align:top;
	background:$background-color--container;
	border-radius:1.2em;
	border:1px solid white;
	box-shadow: 10px 10px 5px #2E2E2E;
	margin-top:2em;
	margin-bottom:2em;
	width: 500px;
	
}

.outerContainer {
	text-align:center;
}

.table {
	display:table;
}

.tableRow {
	display:table-row;

	p {
		display:table-cell;
		padding-top:.7em;

	}
}

.tableRow p:first-child {
	text-align:right;
	padding-right:1.2em;
}

.tableRow p:first-child h2 {
	text-align:center;
}

/*this class is not working*/
.colSpan {
	-webkit-column-span: all; /* Chrome, Safari, Opera */
	column-span: all;
	text-align:center;
}

.popupBackground {
	position:fixed;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.7);
	top:0px;
	left:0px;
	text-align:center;

	.container {
		display:inline-block;
		margin-top:4em;
		border:3px solid #611427;
		text-align:center;
	}

	.outerContainer button:first-child {
		margin-right:1em;
	}
}

.addedNode {
	font-style:italic;
}

.answer {
	font-weight:bold;
}

.separator {
	height: 2.5em;
}

.separator2 {
	border-bottom:1px solid black;
}
.fwTotal {
	border-top: double black;
}
.border {
	display:table;
	width:90%;
	text-align:center;
	border:1px solid black;
	margin:0em 1em 1em 1em;
	margin-left:auto;
	margin-right:auto;
	padding:1em;
	border-radius:1em;
	p {
		text-align:center;
	}
}

/* Id's
=====================================*/

#header {
	width: 850px;
	margin-right:auto;
	margin-left:auto;
}

/* Animations
=====================================*/

@-webkit-keyframes rotate {
  from {
  	transform: rotate(0deg);
  }
  to {
  	transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  from {
  	transform: rotate(0deg);
  }
  to {
  	transform: rotate(360deg);
  }
}

@-o-keyframes rotate {
  from {
  	transform: rotate(0deg);
  }
  to {
  	transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
  	transform: rotate(0deg);
  }
  to {
  	transform: rotate(360deg);
  }
}