// ==================================
// Global Config variables
// ==================================

/* Fonts
=====================================*/
/*$font-color--main:white;*/


/* Backgrounds
=====================================*/
$background-color--gradient:#3F3F3F;
$background-color--gradient2:#727272;
$background-color--container:white;


/* border-colors:
=====================================*/
$border-color--container:black;



/* pseudo class colors:
=====================================*/

